th, td, strong {
	 color: #fff;
	 text-shadow: gray 2px 2px;
 }

body {
 background-repeat: repeat-y;
}

img {
 height: 224px;
 width: 224px;

}

td.address {
  font-size: 75%;
}

td.key {
  word-wrap: break-word;
  font-size: 75%;
}

td {
  padding: 10px;
}

th {
  color: #fff;
  text-align: left;
}
